* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f6f4f1;
}
/* Navigation styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em;
}

header span {
  color: #968864;
}
header a {
  text-decoration: none;
  color: #000;
}
nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #000;
  font-weight: 300;
}
nav a.active {
  font-weight: 400;
}
nav a:hover {
  font-weight: 400;
}
.icons {
  display: inline-flex;
  align-items: center;
  column-gap: 2rem;
}
/* Navigation style ends */

/* Hero styles */
.hero-container {
  display: grid;
  grid-template-columns: 5fr 4fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
  margin: 2em;
}
.hero-container .hero-text h3 {
  font-size: 40px;
}
.hero-container .hero-text p {
  margin: 1em 0;
}
.hero-container .hero-text button {
  margin: 20px 20px 0 0;
  color: #f6f4f1;
  background-color: #000;
  padding: 10px 15px;
  cursor: pointer;
}
.hero-text a {
  text-decoration: none;
  color: #000;
}
.fa-play-circle {
  color: #000;
  margin: 0 10px;
}
.hero-text .stats {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-rows: 1fr;
  /* gap: 0px 1em; */
  grid-auto-flow: row;
  margin: 1em 0;
  /* text-align: center; */
  justify-content: center;
}

.hero-text .stats .stats-item h3 {
  font-size: 20px;
  font-weight: 400;
}
.hero-text .stats .stats-item p {
  font-size: 13px;
  word-wrap: break-word;
}
.hero-text button {
  font-weight: 200;
}
/* Hero Image column */
.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px; /* Set the height of the hero-img */
  margin-bottom: 20px; /* Add some bottom margin to create space */
}

.hero-img img {
  width: 300px;
  height: 400px;
}

.hero-img .vase-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* gap: 20px; */
}
.hero-img .vase-cart .text,
.fa-minus,
.fa-plus {
  background: none;
  font-size: 13px;
}

.hero-img .vase-cart .text p,
h4 {
  font-size: 12px;
  background: none;
}
.hero-img .vase-cart .cart-qty {
  display: inline-flex;
  /* padding: 0 2em; */
  gap: 1em;
}

.hero-img .vase-cart button {
  padding: 10px;
  font-size: 13px;
  border: none;
  background: #968864;
}
@media (min-width: 768px) and (max-width: 979px) {
  header {
    margin: 1em;
    display: flex;
    justify-self: unset;
  }
  nav {
    display: none;
  }
}
