* {
  font-family: var(--primary-font);
}
.top-nav {
  background-color: var(--neutral-2);
  font-size: 12px;
}
.top-nav a {
  font-size: 12px;
}
.menu a {
  font-size: 12px;
}
.showroom h4 {
  font-size: 15px;
  font-weight: 400;
}
.showroom p {
  font-size: 12px;
}
/* .card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-title,
.card-text {
  display: block;
} */

.card-group {
  column-gap: 2em;
}
.card-body h3 {
  font-size: 13px;
}
.card-body p {
  font-size: 11px;
}
.card-group .add-to-cart .btn :hover {
  display: block;
}
.new-arrivals-overlay h4 {
  font-size: 13px;
  background: #fff;
  padding: 3px;
  border-radius: 3px;
  max-width: fit-content;
  text-transform: uppercase;
}
.new-arrivals-overlay p {
  font-size: 12px;
  background-color: var(--percentage-off);
  color: var(--neutral-2);
  max-width: fit-content;
  padding: 3px;
  border-radius: 3px;
}
.card {
  position: relative;
  overflow: hidden;
}

.card .add-to-cart button {
  transition: opacity 0.3s;
  opacity: 0;
}

.card:hover .add-to-cart button {
  opacity: 1;
}
.usp {
  column-gap: 1em;
}
.usp-cards {
  background-color: #e8ecef;
}
.usp-cards h5 {
  font-size: 13px;
}
.usp-cards p {
  font-size: 11px;
}
/* sales banner */
.sales-banner {
  background-color: var(--grey);
}
.sales-banner p#salesP {
  text-transform: uppercase;
  color: blue;
  font-size: 13px;
}
.sales-banner p {
  font-size: 13px;
}

.sales-banner .salesB button {
  border-bottom: 1.5px solid #000 !important;
  border-radius: 0;
}
.articles .articlesB button {
  border-bottom: 1.5px solid #000;
  border-radius: 0;
}

.articles .card .card-body a {
  color: #000;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.card-img-tilt {
  transition: transform 0.5s;
}

.card:hover .card-img-tilt {
  animation: tilt 0.5s;
}

/* Newsletter styles */
.newsletter {
  background-image: url("assets/images/newsletter.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
